section.contact-us {
  overflow-x: hidden;
  margin: 3rem auto;
  justify-content: space-around;
}
.contact-us .contact-side:first-child {
  width: 50%;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
}
.contact-us .contact-side:first-child > a {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-us .contact-side:nth-child(2) {
  width: 50%;
  text-align: center;
}

.contact-form .form-container {
  width: 75dvw;
  max-width: 480px;
  text-align: center;
  padding: 2rem;
  margin: 3rem auto;
  background: var(--white-bg);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.contact-form input:is(:focus-visible, :focus) {
  border: 0;
  outline: 0;
  border-bottom: 2px solid #333;
}
.contact-form > div.form-container > form input {
  border: 0;
  border-bottom: 1px solid #333;
}
.contact-form > div.form-container > form input,
.contact-form > div.form-container > form textarea {
  width: 80%;
  margin: 0.6rem auto;
  padding: 0.5rem 0.4rem;
  font-size: 1rem;
}
.contact-form > div.form-container > form > button {
  margin: 1rem auto;
  padding: 0.6rem 2rem;
  color: #ffffff;
}
section.map-container {
  max-width: 90dvw;
  margin: 3rem auto 5rem auto;
}

@media screen and (max-width: 992px) {
  section.contact-us {
    flex-direction: column;
  }
  .contact-us:is(.contact-side:first-child, .contact-side:nth-child(2)) {
    width: 75%;
  }
  .contact-us .contact-side:first-child > a {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 480px) {
  .form-container > p {
    font-size: 0.8rem;
  }
  .contact-form .form-container {
    width: 85dvw;
  }
}
