/* samples container start */
section.samples-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  margin-bottom: 6rem;
  gap: 1rem;
}
.samples-container .sample-card {
  cursor: default;
  max-width: 23.43rem;
  padding: 1rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.samples-container .sample-card > img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.samples-container .sample-card > p {
  text-align: right;
}
.samples-container .sample-card > a {
  text-align: left;
  float: left;
  text-decoration: underline !important;
}

@media screen and (max-width: 768px) {
  .tool-box {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .tool-box > div > button {
    font-size: 1rem;
  }

  section.samples-container {
    grid-template-columns: repeat(2, auto);
  }
}
@media screen and (max-width: 480px) {
  section.samples-container {
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }
  .samples-container .sample-card{
    margin: 0.5rem 0;
  }
}

